@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Bebas Neue"),
    url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}
