$c-grey: #b3b3b3;
$c-greyLight: #f8f8f8;
$c-greyDark: #333;
$c-turquoise: #03839e;
$c-yellow: #ffe339;
$c-yellowLight: #ffec7a;
$c-white: #fff;
$c-red: #eb5757;
$c-main: #4f4f4f;

$wrap-gap: 30px;
$wrap-gap-tablets: 34px;
$wrap-gap-desktops: 135px;

$transition: 0.3s;

$mobile: 320px;
$tablets: 768px;
$desktops: 1440px;
